In [1]:
import pandas as pd

### Membaca data mentah dan data baru

In [2]:
df_old = pd.read_csv('raw_data.csv')
df_new = pd.read_csv('new_data.csv')

### Merge data mentah dan data baru

In [3]:
df = pd.concat([df_old, df_new]).drop_duplicates('match_id').reset_index(drop=True)

### Membersihkan dan menyaring data hasil penggabungan

In [4]:
df = df[(df['lobby_type'] == 7) & (df['game_mode'] == 22)]

In [5]:
# check duplicated data
df.duplicated('match_id').any()

False

In [6]:
# check uncompleted match
print("uncompleted match before removed : %d" % (df.isnull().sum().sum()))
df = df[df['avg_mmr'].notna()]
print("uncompleted match after removed  : %d" % (df.isnull().sum().sum()))

uncompleted match before removed : 0
uncompleted match after removed  : 0

In [7]:
# missing data
df.isnull().sum().sum()

0

### Menyimpan data hasil penggabungan

In [8]:
# save all merged data
df.to_csv('raw_data.csv', sep=',', index=False)
print("Total data before merged : %d" % (df_old.shape[0]))
print("Total data after merged  : %d" % (df.shape[0]))
print("Total new data added     : %d" % (df.shape[0]-df_old.shape[0]))

Total data before merged : 622170
Total data after merged  : 643107
Total new data added     : 20937

In [9]:
df

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5937688909,4978118542,False,1618056811,947,5384.0,2.0,7,22,80,5,155,"19,120,107,79,94","31,49,70,110,25"
1,5937680202,4978115238,True,1618056560,1116,3938.0,3.0,7,22,64,8,171,"128,5,8,59,112","85,6,56,42,45"
2,5937677706,4978115412,True,1618056484,1245,4343.0,2.0,7,22,52,5,151,"135,70,104,59,31","58,44,107,46,87"
3,5937677414,4978110742,False,1618056474,1019,3626.0,3.0,7,22,57,7,274,"20,71,82,114,66","26,46,89,129,14"
4,5937677106,4978110923,True,1618056464,1082,3216.0,3.0,7,22,43,7,227,"26,8,104,87,11","73,70,135,42,67"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643102,6089060118,5097314681,True,1626324382,2027,4018.0,1.0,7,22,35,3,251,"87,1,84,17,104","10,33,74,30,83"
643103,6089059309,5097314620,False,1626324296,2028,4248.0,1.0,7,22,60,2,251,"65,10,14,9,26","27,8,90,74,88"
643104,6089059010,5097314819,False,1626324291,2173,3255.0,2.0,7,22,47,6,171,"98,51,5,32,93","83,6,44,84,16"
643105,6089058315,5097314572,True,1626324235,2098,3272.0,2.0,7,22,48,6,155,"102,123,84,76,8","62,46,26,47,44"
643106,6089058006,5097314694,True,1626324210,2188,2404.0,2.0,7,22,30,2,122,"42,16,86,68,101","6,2,119,129,5"

In [10]:
# import pandas as pd
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

### Batasan  memanggil API
batas memanggil satu bulan maksimal 50.000 kali dan satu menit maksimal 60 kali, jumlah data terkumpul 1 jam kurang lebih 500 baris data untuk satu hari 10000-11000 baris data